<div class="header">
    <span>W</span><span>e</span><span>l</span><span>c</span><span>o</span><span>m</span><span>e</span><span>!</span>
  </div>
  <div class="left-col">
    <div class="circle circle-green"></div>
    <div class="circle circle-yellow"></div>
    <div class="circle circle-orange"></div>
  </div>
  <div class="center">
    <div class="center-text">
        I am one week old medium squishy kitten. My favorite things are my owner Reese, my home, Reese's pet guinea pigs, my family's dogs Luna and Sam, neighborhood of Robloxia in Roblox, and Prodigy.
    </div>

    <div class="photos-link-description">
        <div>See pictures!
            <span>Click here</span>
        </div>
        <img class="photos-link-arrow" src="assets/home-arrow.png"/>
    </div>

    <div class="photos-link-text">
        <a routerLink="/photos">See pics of Munchkin</a>
    </div>
  
  </div>
  <div class="right-col">
    <div class="circle blue-circle"></div>
    <div class="circle red-circle"></div>
    <div class="circle pink-circle"></div>
  </div>